@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;	
	background: #282828;
}

.main{
	grid-area: main;
	flex: 1 1 auto;
}

.main__body{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 870px;
	height: 100%;
}

.menu{

}

.menu__body{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background: #f8d940;
	height: 100%;
}

.page{
	overflow: auto;
	height: 100%;
}

.page__body{
	height: 100%;
}

.back{
	text-decoration-line: none;
}

.menu__button{
	transition-duration: 0.3s;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: black;
	text-align: center;
	height: 100%;
	background: #f5db62;
}

@media(min-width: 1000px) {
	.main__body{
		grid-template-columns: 200px 1fr;
		grid-template-rows: 1fr;
	}

	.menu{
		height: 100%;
	}

	.menu__body{
		grid-template-columns: 1fr;
		grid-template-rows: 75px 75px 75px 75px 75px;
	}

	.menu__button{
		font-size: 30px;
		padding: 22px;
	}

	.page__body{
		height: 870px;
	}

}

.menu__button:hover{
	background: #282828;
	color: white;
}

.tabcontent{
	display: none;
}

.tab__body{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media(min-width: 1000px) {
	.tab__body{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}

.ovoch__block{
	border: 2px solid grey;
	margin-bottom: 60px;
}

.ovoch-item{

}

.ovoch-item__img{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.ovoch-item__title{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	text-align: center;
	color: white;
	margin-top: 15px;
}

.ovoch-item__text{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
}






























.footer{
	grid-area: footer;
	padding: 30px;
	background: black;
	color: white;
}

.footer__body {
	padding-bottom: 30px;
}

.footer__block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

.footer__img {
	width: 48px;
	object-fit: none;
	transform: translate(30px, 20px);
}

.footer__item {
	margin-left: 13.333%;
}

@media(min-width: 638px) {
	.footer__img {
		transform: translate(75px, -10px);
	}
}

@media(min-width: 1200px) {
	.footer__img {
		width: 48px;
		object-fit: none;
		transform: translate(-10px, 25px);
	}

	.footer__item {
		margin-left: 33.333%;
	}
}

.footer__secondblock {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 70px;
}

@media(min-width: 1200px) {
	.footer__secondblock {
		font-size: 20px;
	}
}
