@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;	
	background: #282828;
}

.header{
	grid-area: header;
	background: url(https://images.wallpaperscraft.ru/image/arbuzy_iagody_uzory_137309_1920x1080.jpg);
	padding-top: 100px;
	padding-bottom: 100px;
}

@media(min-width: 1100px) {
	.header{
		grid-area: header;
		padding: 300px;
		font-size: 500px;
	}
}

.header__title{
	font-family: 'Ubuntu', sans-serif;
	font-size: 90px;
	text-align: center;
	color: black;
	text-shadow: 1px 0 0px white, 0 1px 0px white, -1px 0 0px white, 0 -1px 0px white;
}

.header__subtitle{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	text-align: center;
	color: black;
	text-shadow: 1px 0 1px white, 0 1px 1px white, -1px 0 1px white, 0 -1px 1px white;

}

@media(min-width: 600px) {
	.header__title{
		font-size: 100px;
	}

	.header__subtitle{
		font-size: 40px;

	}
}

@media(min-width: 1100px) {
	.header__title{
		font-size: 170px;
	}

	.header__subtitle{
		font-size: 50px;

	}
}




.main{
	grid-area: main;
	flex: 1 1 auto;
}

.menu{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background: black;
	position: sticky;
	top: 0;
}

@media(min-width: 1100px) {
	.menu{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

.menu__item{
	transition-duration: 0.3s;
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	text-align: center;
	text-decoration-line: none;
	color: white;
	padding: 15px;
}

.menu__item:hover{
	background: #f8d940;
}

.menu__item_active{
	transition-duration: 0.3s;
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	text-align: center;
	text-decoration-line: none;
	color: #f8d940;
	padding: 15px;
}

.menu__item_active:hover{
	background: white;
	color: black;
}

@media(min-width: 1100px) {
	.menu__item{
		margin: 0;
	}

	.menu__item_active{
		margin: 0;
	}
}

.info__block{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	margin-top: 100px;
	margin-bottom: 100px;
	background: black;
}

@media(min-width: 1100px) {
	.info__block{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		text-align: center;
	}
}

img{
	width: 90%;
	height: 90%;
	object-fit: cover;
	margin-left: 5%;
	margin-top: 25px;
}

.info__text{
	font-family: 'Ubuntu', sans-serif;
	font-size: 70px;
	color: white;
	margin-right: 0%;
	margin-left: 5%;
	margin-top: 25px;
}

@media(min-width: 1100px) {
	.info__text{
		margin-right: 5%;
		font-size: 55px;
	}
}

.loyal__body{
	background: #f8d940;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 100px;
}

.loyal__title{
	font-family: 'Ubuntu', sans-serif;
	font-size: 80px;
	text-align: center;
	color: black;
}

.loyal__text{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	margin-top: 25px;
	text-align: center;
}

@media(min-width: 1100px) {
	.loyal__title{
		font-size: 90px;
	}

	.loyal__text{
		font-size: 35px;
}
}

.tab{
   overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: 30px;
	background: black;
}

.tab__button{
	transition-duration: 0.3s;
	border: none;
	outline: none;
	background: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	color: white;
	padding-top: 5px;
	text-align: center;
}

.tab__button:hover{
	background: white;
	color: black;
}


.tabcontent {
  display: none;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

.tab__title{
	font-family: 'Ubuntu', sans-serif;
	font-size: 70px;
	text-align: center;
	color: black;
	margin-top: 30px;
	margin-bottom: 30px;
}

.tab__block{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	margin-top: 30px;
}

.tab__img1{

}

.tab__img2{

}

.tab__text{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	text-align: center;
	color: black;
	margin-top: 30px;
}

@media(min-width: 870px) {
	.tab__block{
	  grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.tab__text{
		font-size: 50px;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
	}
}

.bonus__block{

}

.bonus__list{
	margin-left: 30px;
}

.bonus__list_item{
	margin-bottom: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
}

.cost__block{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

@media(min-width: 1300px) {
	.cost__block{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

.cost__block_item{
	margin-top: 30px;
}

.cost__title{
	font-size: 40px;
	text-align: center;
}

.cost__text{
	text-align: center;
	margin-top: 30px;
}

.cost__shape{
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid black;
	border-bottom: 10px solid transparent;
	margin-left: 30px;
}




.footer{
	grid-area: footer;
	padding: 30px;
	background: black;
	color: white;
}

.footer__body {
	padding-bottom: 30px;
}

.footer__block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

.footer__img {
	width: 48px;
	object-fit: none;
	transform: translate(30px, 20px);
}

.footer__item {
	margin-left: 13.333%;
}

@media(min-width: 638px) {
	.footer__img {
		transform: translate(75px, -10px);
	}
}

@media(min-width: 1200px) {
	.footer__img {
		width: 48px;
		object-fit: none;
		transform: translate(-10px, 25px);
	}

	.footer__item {
		margin-left: 33.333%;
	}
}

.footer__secondblock {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 70px;
}

@media(min-width: 1200px) {
	.footer__secondblock {
		font-size: 20px;
	}
}
